.vscode/**
.vscode-test/**
src/**
coverage/**
node_modules/**
out/test/**
out/tests/**
*.ts
!out/**/*.js
!out/**/*.d.ts
.gitignore
.eslintrc.js
tsconfig.json
vitest.config.js
vitest.config.ts
vitest.config.js.map
**/*.test.ts
**/*.test.js
**/test-setup.*
